START
PUSHI 0
PUSHI 3
STOREG 0
WHILE:
PUSHG 0
PUSHI 0
SUP
JZ FIM
PUSHG 0
WRITEI
PUSHS"\n"
WRITES
PUSHG 0
PUSHI 1
SUB
STOREG 0
PUSHG 0
WRITEI
PUSHS"\n"
WRITES
PUSHG 0
PUSHI 1
SUB
STOREG 0
JUMP WHILE
FIM:
STOP
